body {
    font-family: Arial, sans-serif;;
    background-color: #f8ebf5;
    color: black;
    font-size: 20px;
}

nav {
    background-color: #5e8669;
    padding: 2px;
    text-align: center;
}

nav a {
    color: beige;;
    padding: 10px;
}

header {
    font-family: "Dancing Script", cursive;
    background-color: #682e94;
    text-align: center;
    color: white;
    padding: 15px;
}

h2 {
    color: darkred;
    text-decoration: underline;
}

.q1 {
    color: black;
    font-weight: bold;
}

ul {
    background-color: #cfa5a5;
    padding: 10px;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    color: azure;
}
