body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

.underline {
    text-decoration: underline;
}

.itallic {
    font-style: italic;

}
footer p {
    color:blueviolet;
}

#firstpar {
    color:aquamarine;
}

.blue {
    color:blue;
}

.bigger {
    font-size: 18pt;
}
